@import 'common.scss';

.d2l-navigation-s-course-menu {
	height: 100%;
	margin-right: $d2l-navigation-margin-regular;
	@media (max-width: $d2l-navigation-bp-mobile-menu) {
		display: none;
	}
	@media (max-width: $d2l-navigation-bp-separators) {
		margin-right: $d2l-navigation-margin-compact;
	}
}

.d2l-navigation-s-course-menu d2l-dropdown {
	height: 100%;
}

.d2l-navigation-s-course-menu d2l-dropdown-content {
	line-height: 1.5rem;
}

.d2l-navigation-s-divider.d2l-navigation-s-course-menu-divider {
	margin-left: -16px;
}
